<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertSourceMapper">
    <sql id="searchAlertSql">
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat(#{keyword}, '%')
                or label like concat(#{keyword}, '%'))
            </if>
            <if test="defaultValue != null and defaultValue.size() > 0">
                and name in
                <foreach collection="defaultValue" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="checkAlertSourceIsExists" parameterType="neatlogic.framework.alert.dto.AlertSourceVo" resultType="int">
        select count(1)
        from alert_source
        where name = #{name}
    </select>

    <select id="getAlertSourceByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertSourceVo">
        select name, label
        from alert_source
        where name = #{value}
    </select>

    <select id="searchAlertSource" parameterType="neatlogic.framework.alert.dto.AlertSourceVo"
            resultType="neatlogic.framework.alert.dto.AlertSourceVo">
        select name, label
        from alert_source
        <include refid="searchAlertSql"/>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchAlertSourceCount" parameterType="neatlogic.framework.alert.dto.AlertSourceVo" resultType="int">
        select count(1)
        from alert_source
        <include refid="searchAlertSql"/>
    </select>

    <insert id="saveAlertSource" parameterType="neatlogic.framework.alert.dto.AlertSourceVo">
        insert alert_source
            (name, label)
        values (#{name}, #{label})
        ON DUPLICATE KEY
            UPDATE label = #{label}
    </insert>

    <delete id="deleteAlertSourceByName" parameterType="java.lang.String">
        delete
        from alert_source
        where name = #{value}
    </delete>
</mapper>
