<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertAttrTypeMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache" flushInterval="30000" size="100"></cache>

    <select id="getAttrTypeCount" resultType="java.lang.Integer" useCache="false">
        select count(1)
        from alert_attrtype
    </select>

    <select id="checkAttrTypeNameIsExists" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeVo"
            resultType="int" useCache="false">
        select count(1)
        from alert_attrtype
        where name = #{name}
          and id != #{id}
    </select>

    <sql id="searchAttrTypeSql">
        <where>
            <if test="defaultValue != null and defaultValue.size() > 0">
                and a.id in
                <foreach collection="defaultValue" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                and (a.name like concat('%',#{keyword},'%') or a.label like concat('%',#{keyword},'%'))
            </if>
            <if test="type != null and type != ''">
                and a.type = #{type}
            </if>
            <if test="isActive != null">
                and a.is_active = #{isActive}
            </if>
            <if test="isNormal != null">
                and a.is_normal = #{isNormal}
            </if>
            <if test="isRow != null">
                and a.is_row = #{isRow}
            </if>
            <if test="isTab != null">
                and a.is_tab = #{isTab}
            </if>
            <if test="isTop != null">
                and a.is_top = #{isTop}
            </if>
        </where>
    </sql>

    <select id="getAttrTypeByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertAttrTypeVo" useCache="true">
        select id,
               name,
               label,
               type,
               is_active as isActive,
               is_normal as isNormal,
               is_tab    as isTab,
               is_row    as isRow,
               is_top    as isTop
        from alert_attrtype
        where name = #{value}
    </select>

    <select id="getAttrTypeById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertAttrTypeVo" useCache="false">
        select id,
               name,
               label,
               type,
               is_active as isActive,
               is_normal as isNormal,
               is_tab    as isTab,
               is_row    as isRow,
               is_top    as isTop
        from alert_attrtype
        where id = #{value}
    </select>

    <select id="getAttrTypeEnumByValue" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo" resultType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo">
        select id,
               attr_type as attrType,
               `value`,
               text
        from alert_enum
        where attr_type = #{attrType}
          and value = #{value}
        limit 1
    </select>

    <select id="searchAttrTypeCount" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeVo" resultType="int"
            useCache="false">
        select count(1) from alert_attrtype a
        <include refid="searchAttrTypeSql"></include>
    </select>

    <select id="checkAttrTypeEnumValueIsExists" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo" resultType="int">
        select count(1)
        from alert_enum
        where attr_type = #{attrType}
          and value = #{value}
          and id != #{id}
    </select>

    <select id="searchAttrTypeEnumCount" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo" resultType="int">
        select count(1)
        from alert_enum
        where attr_type = #{attrType}
        <if test="keyword != null and keyword != ''">
            and (`value` like CONCAT(#{keyword}, '%') or `text` like CONCAT(#{keyword}, '%'))
        </if>
    </select>

    <select id="searchAttrTypeEnum" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo"
            resultType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo">
        select id,
        attr_type as attrType,
        `value`,
        text
        from alert_enum
        where attr_type = #{attrType}
        <if test="keyword != null and keyword != ''">
            and (`value` like CONCAT(#{keyword}, '%') or `text` like CONCAT(#{keyword}, '%'))
        </if>
        order by `value`
        limit #{startNum}, #{pageSize}
    </select>

    <select id="listAttrType" resultType="neatlogic.framework.alert.dto.AlertAttrTypeVo" useCache="true">
        select id,
               name,
               label,
               type,
               is_active as isActive,
               is_normal as isNormal,
               is_tab    as isTab,
               is_row    as isRow,
               is_top    as isTop
        from alert_attrtype
        where is_active = 1
        order by is_top desc, sort
    </select>

    <select id="searchAttrType" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeVo"
            resultType="neatlogic.framework.alert.dto.AlertAttrTypeVo" useCache="false">
        select
        a.id,
        a.name,
        a.label,
        a.type,
        a.is_active as isActive,
        a.is_normal as isNormal,
        a.is_row as isRow,
        a.is_tab as isTab,
        a.sort as sort,
        a.is_top as isTop,
        (select count(1) from alert_enum x where x.attr_type = a.id) as enumCount
        from alert_attrtype a
        <include refid="searchAttrTypeSql"></include>
        order by a.is_top desc, a.sort
        limit #{startNum}, #{pageSize}
    </select>

    <update id="updateAlertAttrTypeSort" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeVo">
        update alert_attrtype
        set sort = #{sort}
        where id = #{id}
    </update>

    <insert id="saveAlertAttrTypeEnum" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeEnumVo">
        insert into alert_enum
            (id, attr_type, value, text)
        values (#{id},
                #{attrType},
                #{value},
                #{text})
        ON DUPLICATE KEY UPDATE value = #{value},
                                text  = #{text}
    </insert>

    <insert id="saveAlertAttrType" parameterType="neatlogic.framework.alert.dto.AlertAttrTypeVo">
        insert into alert_attrtype
        (id,
         name,
         label,
         type,
         is_active,
         is_normal,
         is_row,
         is_tab,
         config,
         is_top,
         sort)
        values (#{id},
                #{name},
                #{label},
                #{type},
                #{isActive},
                #{isNormal},
                #{isRow},
                #{isTab},
                #{configStr, typeHandler=CompressHandler},
                #{isTop},
                #{sort})
        ON DUPLICATE KEY UPDATE name      = #{name},
                                label     = #{label},
                                type      = #{type},
                                is_active = #{isActive},
                                is_normal = #{isNormal},
                                is_row    = #{isRow},
                                is_tab    = #{isTab},
                                is_top    = #{isTop},
                                config    = #{configStr, typeHandler=CompressHandler}
    </insert>

    <delete id="deleteAttrTypeById" parameterType="java.lang.Long">
        delete
        from alert_attrtype
        where id = #{value}
    </delete>

    <delete id="deleteAttrTypeEnumById" parameterType="java.lang.Long">
        delete
        from alert_enum
        where id = #{value}
    </delete>
</mapper>
