<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertMarkMapper">

    <select id="listAlertMarkByNameList"
            resultType="neatlogic.framework.alert.dto.AlertMarkVo">
        select
        uuid,
        name,
        style,
        is_show as isShow from alert_mark
        <where>
            <if test="nameList != null and nameList.size() > 0">
                name in
                <foreach collection="nameList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by name
    </select>

    <select id="searchAlertMark" parameterType="neatlogic.framework.alert.dto.AlertMarkVo"
            resultType="neatlogic.framework.alert.dto.AlertMarkVo">
        select uuid,name,style,is_show as isShow from alert_mark
        <where>
            <if test="keyword != null and keyword != ''">
                name like concat(#{keyword}, '%')
            </if>
            <if test="defaultValue != null and defaultValue.size() > 0">
                name IN
                <foreach collection="defaultValue" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by name
        limit #{startNum}, #{pageSize}
    </select>

    <select id="getAlertMarkByAlertId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertMarkVo">
        select distinct b.uuid, b.name, b.style, b.is_show as isShow
        from alert_alert_mark a
                 join alert_mark b on a.mark_uuid = b.uuid
        where a.alert_id = #{value}
    </select>

    <select id="getAlertMarkNameByAlertId" parameterType="java.lang.Long" resultType="java.lang.String">
        select distinct b.name
        from alert_alert_mark a
                 join alert_mark b on a.mark_uuid = b.uuid
        where a.alert_id = #{value}
    </select>

    <update id="updateAlertMark" parameterType="neatlogic.framework.alert.dto.AlertMarkVo">
        update alert_mark
        <set>
            <if test="style != null">
                style = #{style},
            </if>
            <if test="isShow != null">
                is_show = #{isShow},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <insert id="insertAlertMark" parameterType="neatlogic.framework.alert.dto.AlertMarkVo">
        insert ignore into alert_mark (uuid, name)
        values (#{uuid}, #{name})
    </insert>

    <insert id="insertAlertAlertMark">
        insert into alert_alert_mark (alert_id, mark_uuid, mark_time)
        values (#{alertId}, #{markUuid}, now())
        on duplicate key update mark_time = now()
    </insert>

    <delete id="deleteAlertAlertMark">
        delete
        from alert_alert_mark
        where alert_id = #{alertId}
          and mark_uuid = #{markUuid}
    </delete>

    <delete id="deleteAlertAlertMarkByAlertId" parameterType="java.lang.Long">
        delete
        from alert_alert_mark
        where alert_id = #{value}
    </delete>
</mapper>
