<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertMapper">


    <select id="getIsDeleteAlertIdList" resultType="java.lang.Long">
        select id
        from alert
        where is_delete = 1
          and delete_batch = #{deleteBatch}
          and id &gt; #{id}
        order by id
        limit #{limit}
    </select>

    <select id="getAlertIntervalJob" resultType="neatlogic.framework.alert.dto.AlertIntervalJobVo">
        select alert_id               as alertId,
               alert_event_handler_id as alertEventHandlerId,
               parent_audit_id        as parentAuditId,
               start_time             as startTime,
               interval_minute        as intervalMinute,
               repeat_count           as repeatCount,
               config                 as configStr
        from alert_interval_job
        where alert_id = #{alertId}
          and alert_event_handler_id = #{alertEventHandlerId}
    </select>

    <sql id="searchAlertOriginSql">
        <where>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="source != null and source != ''">
                and source = #{source}
            </if>
            <if test="timeRange != null">
                <if test="timeRange.size() > 0">
                    and time &gt;= STR_TO_DATE(#{timeRange[0]}, '%Y-%m-%d %H:%i')
                </if>
                <if test="timeRange.size() > 1">
                    and time &lt;= STR_TO_DATE(#{timeRange[1]}, '%Y-%m-%d %H:%i')
                </if>
            </if>
        </where>
    </sql>

    <select id="getAlertOriginByIdList" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo"
            resultType="neatlogic.framework.alert.dto.OriginalAlertVo">
        select
        id,
        content,
        type,
        adaptor,
        time,
        error,
        status,
        source,
        alert_data as alertDataStr
        from alert_origin
        where id in
        <foreach collection="idList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        order by id desc
    </select>

    <select id="searchAlertOrigin" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo"
            resultType="neatlogic.framework.alert.dto.OriginalAlertVo">
        select
        id,
        content,
        type,
        adaptor,
        time,
        error,
        status,
        source,
        alert_data as alertDataStr
        from alert_origin
        <include refid="searchAlertOriginSql"></include>
        order by time desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="getAlertTeamByAlertId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertTeamVo">
        select a.alert_id  as alertId,
               a.team_uuid as teamUuid,
               b.name      as teamName
        from alert_team a
                 join team b on a.team_uuid = b.uuid
        where a.alert_id = #{value}
    </select>

    <select id="getAlertUserByAlertId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertUserVo">
        select a.alert_id  AS alertId,
               a.user_id   AS userId,
               b.user_id   AS userAccount,
               b.user_name AS userName,
               b.phone     AS userPhone,
               b.email     AS userEmail
        from alert_user a
                 join user b on a.user_id = b.uuid
        where a.alert_id = #{value}
    </select>

    <select id="searchAlertOriginCount" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo"
            resultType="int">
        select count(1)
        from alert_origin
        <include refid="searchAlertOriginSql"></include>
    </select>

    <select id="listToAlertIdByFromAlertId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT to_alert_id
        FROM alert_rel
        WHERE from_alert_id = #{value}
    </select>

    <select id="listAllFromAlertIdByToAlertId" parameterType="java.lang.Long" resultType="java.lang.Long">
        WITH RECURSIVE AlertCTE AS (SELECT from_alert_id
                                    FROM alert_rel
                                    WHERE to_alert_id = #{value}
                                    UNION ALL
                                    SELECT ar.from_alert_id
                                    FROM alert_rel ar
                                             INNER JOIN
                                         AlertCTE a
                                         ON
                                             ar.to_alert_id = a.from_alert_id)
        SELECT DISTINCT from_alert_id
        FROM AlertCTE
    </select>

    <select id="listAllToAlertIdByFromAlertId" parameterType="java.lang.Long" resultType="java.lang.Long">
        WITH RECURSIVE AlertCTE AS (SELECT to_alert_id
                                    FROM alert_rel
                                    WHERE from_alert_id = #{value}
                                    UNION ALL
                                    SELECT ar.to_alert_id
                                    FROM alert_rel ar
                                             INNER JOIN
                                         AlertCTE a
                                         ON
                                             ar.from_alert_id = a.to_alert_id)
        SELECT DISTINCT to_alert_id
        FROM AlertCTE
    </select>

    <select id="getAlertByParentId" parameterType="java.lang.Long" resultType="neatlogic.framework.alert.dto.AlertVo">
        select a.id,
        a.status,
        a.type<!--不能缺，否则无法触发事件-->
        from alert a
        join alert_rel b on a.id = b.to_alert_id
        where b.from_alert_id = #{value}
    </select>

    <resultMap id="alertResultMap" type="neatlogic.framework.alert.dto.AlertVo">
        <id column="id" property="id"/>
        <result column="fromAlertId" property="fromAlertId"/>
        <result column="childAlertCount" property="childAlertCount"/>
        <result column="level" property="level"/>
        <result column="title" property="title"/>
        <result column="updateTime" property="updateTime"/>
        <result column="alertTime" property="alertTime"/>
        <result column="type" property="type"/>
        <result column="alertTypeLabel" property="typeName"/>
        <result column="status" property="status"/>
        <result column="alertStatusName" property="statusName"/>
        <result column="alertStatusColor" property="statusColor"/>
        <result column="source" property="source"/>
        <result column="sourceName" property="sourceName"/>
        <result column="uniqueKey" property="uniqueKey"/>
        <result column="isClose" property="isClose"/>
        <result column="isDelete" property="isDelete"/>
        <result column="content" property="attrObjStr" typeHandler="neatlogic.framework.dao.plugin.CompressHandler"/>
        <association property="alertType" javaType="neatlogic.framework.alert.dto.AlertTypeVo">
            <result column="alertTypeName" property="name"/>
            <result column="alertTypeLabel" property="label"/>
            <result column="alertTypeId" property="id"/>
        </association>
        <association property="alertLevel" javaType="neatlogic.framework.alert.dto.AlertLevelVo">
            <result column="alertLevel" property="level"/>
            <result column="alertLevelName" property="name"/>
            <result column="alertLevelColor" property="color"/>
            <result column="alertLevelLabel" property="label"/>
        </association>
        <collection property="userList" ofType="neatlogic.framework.alert.dto.AlertUserVo">
            <id column="alertUserId" property="userId"/>
            <id column="alertUserAlertId" property="alertId"/>
            <result column="alertUserName" property="userName"/>
        </collection>
        <collection property="teamList" ofType="neatlogic.framework.alert.dto.AlertTeamVo">
            <id column="alertTeamUuid" property="teamUuid"/>
            <id column="alertTeamAlertId" property="alertId"/>
            <result column="alertTeamName" property="teamName"/>
        </collection>
    </resultMap>

    <select id="getOpenAlertByParentId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertVo">
        select
        a.id,
        a.is_close as isClose,
        a.status,
        a.type<!--不能缺，否则无法触发事件-->
        from alert a
        join alert_rel rel on a.id = rel.to_alert_id
        where
        rel.from_alert_id = #{value}
        and a.is_close = 0
    </select>

    <select id="getCloseAlertByParentId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertVo">
        select
        a.id,
        a.is_close as isClose,
        a.status,
        a.type<!--不能缺，否则无法触发事件-->
        from alert a
        join alert_rel rel on a.id = rel.to_alert_id
        where
        rel.from_alert_id = #{value}
        and a.is_close = 1
    </select>

    <select id="getOpenAlertByUniqueKey" parameterType="java.lang.String" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        where
        a.unique_key = #{value}
        and a.is_close = 0
    </select>

    <select id="getCloseAlertByUniqueKey" parameterType="java.lang.String" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        where
        a.unique_key = #{value}
        and a.is_close = 1
    </select>


    <select id="getAlertOriginById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.OriginalAlertVo">
        select id,
               content,
               type,
               adaptor,
               time,
               error,
               status,
               source,
               alert_data as alertDataStr
        from alert_origin
        where id = #{id}
    </select>

    <select id="searchAlert" parameterType="neatlogic.framework.alert.dto.AlertVo" resultMap="alertResultMap">
        <include refid="searchAlertColumnForSearch"></include>
        JOIN
        (select id from alert order by update_time limit #{startNum}, #{pageSize}) tmp
        ON a.id = tmp.id
        order by a.update_time desc
    </select>

    <select id="checkAlertIsExists" parameterType="java.lang.Long" resultType="int">
        select count(1)
        from alert
        where id = #{value}
    </select>

    <sql id="searchAlertColumnForSearch">
        select a.id,
        <if test="searchMode == null or searchMode != 'flat'">
            <!--扁平模式不需要查询子告警数量-->
            (SELECT count(x.to_alert_id) FROM alert_rel x WHERE x.from_alert_id = a.id LIMIT 100) AS childAlertCount,
        </if>
        (select x.from_alert_id from alert_rel x where x.to_alert_id = a.id limit 1) as fromAlertId,
        a.level,
        a.title,
        a.update_time as updateTime,
        a.alert_time as alertTime,
        a.type,
        a.is_close as isClose,
        a.is_delete as isDelete,
        d.id as alertTypeId,
        d.name as alertTypeName,
        d.label as alertTypeLabel,
        a.status,
        als.label as alertStatusName,
        als.color as alertStatusColor,
        a.source,
        also.label as sourceName,
        a.unique_key as uniqueKey,
        b.content,
        c.level as alertLevel,
        c.name as alertLevelName,
        c.label as alertLevelLabel,
        c.color as alertLevelColor,
        au.user_id as alertUserId,
        au.alert_id as alertUserAlertId,
        at.team_uuid as alertTeamUuid,
        at.alert_id as alertTeamAlertId,
        (select name from team x where x.uuid = at.team_uuid) as alertTeamName
        from alert a
        left join alert_attr b on a.id = b.alert_id
        left join alert_level c on a.level = c.level
        left join alert_type d on a.type = d.id
        left join alert_user au on a.id = au.alert_id
        left join alert_team at on a.id = at.alert_id
        left join alert_status als on a.status = als.name
        left join alert_source also on a.source = also.name
    </sql>

    <sql id="searchAlertColumn">
        select a.id,
               (SELECT count(x.to_alert_id) FROM alert_rel x WHERE x.from_alert_id = a.id LIMIT 100) AS childAlertCount,
               (select x.from_alert_id from alert_rel x where x.to_alert_id = a.id limit 1)          as fromAlertId,
               a.level,
               a.title,
               a.update_time                                                                         as updateTime,
               a.alert_time                                                                          as alertTime,
               a.type,
               a.is_close                                                                            as isClose,
               a.is_delete                                                                           as isDelete,
               d.id                                                                                  as alertTypeId,
               d.name                                                                                as alertTypeName,
               d.label                                                                               as alertTypeLabel,
               a.status,
               als.label                                                                             as alertStatusName,
               als.color                                                                             as alertStatusColor,
               a.source,
               also.label                                                                            as sourceName,
               a.unique_key                                                                          as uniqueKey,
               b.content,
               c.level                                                                               as alertLevel,
               c.name                                                                                as alertLevelName,
               c.label                                                                               as alertLevelLabel,
               c.color                                                                               as alertLevelColor,
               au.user_id                                                                            as alertUserId,
               au.alert_id                                                                           as alertUserAlertId,
               at.team_uuid                                                                          as alertTeamUuid,
               at.alert_id                                                                           as alertTeamAlertId,
               (select name from team x where x.uuid = at.team_uuid)                                 as alertTeamName
        from alert a
                 left join alert_attr b on a.id = b.alert_id
                 left join alert_level c on a.level = c.level
                 left join alert_type d on a.type = d.id
                 left join alert_user au on a.id = au.alert_id
                 left join alert_team at on a.id = at.alert_id
                 left join alert_status als on a.status = als.name
                 left join alert_source also on a.source = also.name
    </sql>


    <select id="getAlertByIdList" parameterType="neatlogic.framework.alert.dto.AlertVo"
            resultMap="alertResultMap">
        <include refid="searchAlertColumnForSearch"></include>
        where
        a.id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by a.update_time desc
    </select>

    <select id="getParentAlertByAlertId" parameterType="java.lang.Long" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        join alert_rel rel on a.id = rel.from_alert_id
        where rel.to_alert_id = #{value}
    </select>

    <select id="getAlertById" parameterType="java.lang.Long" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        where a.id = #{value}
    </select>


    <select id="getFirstOpenAlertIdByUniqueKey" parameterType="java.lang.String"
            resultType="java.lang.Long">
        select id
        from alert
        where unique_key = #{value}
          and is_close = 0
        order by id
        limit 1
    </select>

    <select id="searchAlertIntervalJob" parameterType="neatlogic.framework.alert.dto.AlertIntervalJobVo"
            resultType="neatlogic.framework.alert.dto.AlertIntervalJobVo">
        select alert_id               as alertId,
               alert_event_handler_id as alertEventHandlerId,
               parent_audit_id        as parentAuditId,
               start_time             as startTime,
               interval_minute        as intervalMinute,
               repeat_count           as repeatCount
        from alert_interval_job
        order by alert_id
        limit #{startNum}, #{pageSize}
    </select>

    <update id="updateAlertIsDeleteByIdList" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert set is_delete = 1,
        delete_batch = #{deleteBatch} where (is_delete != 1 or is_delete is null) and id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="updateAlertStatus" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert
        set status = #{status}
        where id = #{id}
    </update>

    <update id="updateAlertUpdateTime" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert
        set update_time = #{updateTime},
            status      = #{status}
        where id = #{id}
    </update>

    <update id="updateAlert" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="source != null and source != ''">
                source = #{source},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <update id="updateAlertIntervalJob" parameterType="neatlogic.framework.alert.dto.AlertIntervalJobVo">
        update alert_interval_job
        set start_time   = #{startTime},
            repeat_count = #{repeatCount}
        where alert_id = #{alertId}
          and alert_event_handler_id = #{alertEventHandlerId}
    </update>

    <update id="updateAlertIsClose">
        update alert
        set is_close = #{isClose}
        where id = #{alertId}
    </update>

    <insert id="insertAlertIntervalJob" parameterType="neatlogic.framework.alert.dto.AlertIntervalJobVo">
        insert into alert_interval_job
        (alert_id,
         alert_event_handler_id,
         parent_audit_id,
         start_time,
         interval_minute,
         repeat_count,
         config)
        values (#{alertId},
                #{alertEventHandlerId},
                #{parentAuditId},
                #{startTime},
                #{intervalMinute},
                #{repeatCount},
                #{configStr, typeHandler=CompressHandler})
    </insert>

    <insert id="insertAlertUser" parameterType="neatlogic.framework.alert.dto.AlertUserVo">
        insert ignore into alert_user (alert_id, user_id)
        values (#{alertId}, #{userId})
    </insert>

    <insert id="insertAlertTeam" parameterType="neatlogic.framework.alert.dto.AlertTeamVo">
        insert ignore into alert_team (alert_id, team_uuid)
        values (#{alertId}, #{teamUuid})
    </insert>


    <insert id="saveAlertAttr" parameterType="neatlogic.framework.alert.dto.AlertVo">
        insert into alert_attr
            (alert_id, content)
        values (#{id}, #{attrObjStr,typeHandler=CompressHandler})
        ON DUPLICATE KEY UPDATE content = #{attrObjStr,typeHandler=CompressHandler}
    </insert>

    <insert id="saveAlertRel" parameterType="neatlogic.framework.alert.dto.AlertRelVo">
        insert ignore into alert_rel
            (from_alert_id, to_alert_id)
        values (#{fromAlertId}, #{toAlertId})
    </insert>

    <insert id="insertAlert" parameterType="neatlogic.framework.alert.dto.AlertVo">
        insert into alert
        (id,
         level,
         title,
         update_time,
         alert_time,
         type,
         status,
         source,
         is_close,
         unique_key)
        values (#{id},
                #{level},
                #{title},
                #{updateTime},
                #{alertTime},
                #{type},
                #{status},
                #{source},
                0,
                #{uniqueKey})
    </insert>

    <insert id="insertAlertOrigin" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo">
        insert into alert_origin
        (id,
         content,
         type,
         adaptor,
         time,
         error,
         status,
         source,
         alert_data)
        values (#{id},
                #{content, typeHandler=CompressHandler},
                #{type},
                #{adaptor},
                #{time},
                #{error, typeHandler=CompressHandler},
                #{status},
                #{source},
                #{alertDataStr, typeHandler=CompressHandler})
    </insert>

    <delete id="deleteAlertRel">
        delete
        from alert_rel
        where from_alert_id = #{fromAlertId}
          and to_alert_id = #{toAlertId}
    </delete>

    <delete id="deleteAlertUserByAlertId" parameterType="java.lang.Long">
        delete
        from alert_user
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertTeamByAlertId" parameterType="java.lang.Long">
        delete
        from alert_team
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertAttr" parameterType="java.lang.Long">
        delete
        from alert_attr
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertById" parameterType="java.lang.Long">
        delete a,b,d,e,f,g,h,at,au,aeha,aij
        from alert a
                 left join alert_rel b on a.id = b.from_alert_id or a.id = b.to_alert_id
                 left join alert_origin d on a.id = d.id
                 left join alert_event_handler_data e on a.id = e.alert_id
                 left join alert_attr f on a.id = f.alert_id
                 left join alert_audit g on a.id = g.alert_id
                 left join alert_comment h on a.id = h.alert_id
                 left join alert_team at on a.id = at.alert_id
                 left join alert_user au on a.id = au.alert_id
                 left join alert_event_handler_audit aeha on a.id = aeha.alert_id
                 left join alert_interval_job aij on a.id = aij.alert_id
        where a.id = #{value}
    </delete>

    <delete id="deleteAlertIntervalJob">
        delete
        from alert_interval_job
        where alert_id = #{alertId}
          and alert_event_handler_id = #{alertEventHandlerId}
    </delete>

    <select id="getNotUsedAlertOriginIdByDayBefore" parameterType="int" resultType="java.lang.Long">
        SELECT id
        FROM alert_origin
        WHERE NOT EXISTS (SELECT 1
                          FROM alert
                          WHERE alert.id = alert_origin.id)
          and alert_origin.time &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
        LIMIT 1000
    </select>

    <delete id="deleteAlertOriginByIdList">
        delete from alert_origin where id in
        <foreach collection="idList" index="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>
