<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertTopoMapper">

    <select id="checkTopoNameIsExists" parameterType="neatlogic.framework.alert.dto.AlertTopoVo" resultType="int">
        select count(1)
        from alert_topo
        where name = #{name}
          and id != #{id}
    </select>

    <select id="searchAlertTopoCount" parameterType="neatlogic.framework.alert.dto.AlertTopoVo" resultType="int">
        select count(1)
        from alert_topo
        <include refid="searchAlertTopoCondition"></include>
    </select>

    <select id="getAlertTopoById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertTopoVo">
        select id,
               is_active as isActive,
               name,
               config    as configStr,
               fcd,
               fcu,
               lcd,
               lcu
        from alert_topo
        where id = #{value}
    </select>

    <select id="listAlertTopo" parameterType="neatlogic.framework.alert.dto.AlertTopoVo"
            resultType="neatlogic.framework.alert.dto.AlertTopoVo">
        select
        id,
        is_active as isActive,
        name,
        config as configStr,
        fcd,
        fcu,
        lcd,
        lcu
        from alert_topo
        <include refid="searchAlertTopoCondition"></include>
    </select>

    <select id="searchAlertTopo" parameterType="neatlogic.framework.alert.dto.AlertTopoVo"
            resultType="neatlogic.framework.alert.dto.AlertTopoVo">
        select
        id,
        is_active as isActive,
        name,
        config as configStr,
        fcd,
        fcu,
        lcd,
        lcu
        from alert_topo
        <include refid="searchAlertTopoCondition"></include>
        limit #{startNum}, #{pageSize}
    </select>

    <sql id="searchAlertTopoCondition">
        <where>
            <if test="keyword != null and keyword !=''">
                and name like concat(#{keyword}, '%')
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
    </sql>

    <update id="updateAlertTopo" parameterType="neatlogic.framework.alert.dto.AlertTopoVo">
        update alert_topo
        set name   = #{name},
            config = #{configStr,typeHandler=CompressHandler},
            lcd    = now(),
            lcu    = #{lcu}
        where id = #{id}
    </update>

    <insert id="insertAlertTopo" parameterType="neatlogic.framework.alert.dto.AlertTopoVo">
        insert into alert_topo
        (id,
         name,
         is_active,
         config,
         fcd,
         fcu)
        values (#{id},
                #{name},
                #{isActive},
                #{configStr,typeHandler=CompressHandler},
                now(),
                #{fcu})
    </insert>

</mapper>
