<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertNotifyTemplateMapper">
    <select id="checkNotifyTemplateNameIsExists" parameterType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo"
            resultType="int">
        select count(1)
        from alert_notify_template
        where name = #{name}
          and id != #{id}
    </select>

    <sql id="searchNotifyTemplateSql">
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat(#{keyword}, '%')
                or label like concat(#{keyword},'%'))
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
    </sql>


    <select id="getNotifyTemplateById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo">
        select id,
               name,
               label,
               is_active as isActive,
               title,
               content
        from alert_notify_template
        where id = #{value}
    </select>

    <select id="searchNotifyTemplate" parameterType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo"
            resultType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo">
        select id,
        name,
        label,
        is_active as isActive,
        title,
        content
        from alert_notify_template
        <include refid="searchNotifyTemplateSql"/>
        order by id desc
        limit #{startNum},#{pageSize}
    </select>

    <select id="searchNotifyTemplateCount" parameterType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo"
            resultType="int">
        select count(1)
        from alert_notify_template
        <include refid="searchNotifyTemplateSql"/>
    </select>

    <update id="updateNotifyTemplate" parameterType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo">
        update alert_notify_template
        set name      = #{name},
            label     = #{label},
            is_active = #{isActive},
            title     = #{title,typeHandler=CompressHandler},
            content   = #{content, typeHandler=CompressHandler}
        where id = #{id}
    </update>

    <insert id="insertNotifyTemplate" parameterType="neatlogic.framework.alert.dto.AlertNotifyTemplateVo">
        insert into alert_notify_template
        (id,
         name,
         label,
         is_active,
         title,
         content)
        values (#{id},
                #{name},
                #{label},
                #{isActive},
                #{title,typeHandler=CompressHandler},
                #{content,typeHandler=CompressHandler})
    </insert>

    <delete id="deleteNotifyTemplateById" parameterType="java.lang.Long">
        delete
        from alert_notify_template
        where id = #{value}
    </delete>
</mapper>
