<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertTypeMapper">
    <select id="searchAlertTypeCount" parameterType="neatlogic.framework.alert.dto.AlertTypeVo" resultType="int">
        select count(1)
        from alert_type a
        <include refid="searchAlertTypeSql"></include>
    </select>

    <resultMap id="alertTypeResultMap" type="neatlogic.framework.alert.dto.AlertTypeVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="label" property="label"/>
        <result column="isActive" property="isActive"/>
        <result column="lcd" property="lcd"/>
        <result column="lcu" property="lcu"/>
        <result column="fcd" property="fcd"/>
        <result column="fcu" property="fcu"/>
        <collection property="adaptorList" ofType="neatlogic.framework.alert.dto.AlertTypeAdaptorVo">
            <id column="adaptorId" property="id"/>
            <result column="adaptorName" property="name"/>
            <result column="adaptorLabel" property="label"/>
            <result column="adaptorFileId" property="fileId"/>
            <result column="adaptorAlertTypeId" property="alertTypeId"/>
        </collection>
        <collection property="attrTypeList" ofType="neatlogic.framework.alert.dto.AlertAttrTypeVo">
            <id property="id" column="attrTypeId"/>
            <result property="name" column="attrTypeName"/>
            <result property="label" column="attrTypeLabel"/>
            <result property="type" column="attrTypeType"/>
            <result property="configStr" column="attrTypeConfigStr"/>
        </collection>
        <collection property="alertEventHandlerList" ofType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
            <id property="id" column="alertEventHandlerId"/>
            <result property="event" column="alertEventName"/>
            <result property="handler" column="alertEventHandler"/>
            <result property="name" column="alertEventHandlerName"/>
        </collection>
    </resultMap>

    <select id="searchAlertType" parameterType="neatlogic.framework.alert.dto.AlertTypeVo"
            resultMap="alertTypeResultMap">
        select
        a.id,
        a.name,
        a.label,
        a.is_active as isActive,
        a.lcd,
        a.lcu,
        a.fcd,
        a.fcu,
        d.id as adaptorId,
        d.name as adaptorName,
        d.label as adaptorLabel,
        d.file_id as adaptorFileId,
        d.alerttype_id as adaptorAlertTypeId,
        e.id as alertEventHandlerId,
        e.event as alertEventName,
        e.handler as alertEventHandler,
        e.name as alertEventHandlerName
        from alert_type a
        left join alert_adaptor d on a.id = d.alerttype_id
        left join alert_event_handler e on a.id = e.alert_type
        <include refid="searchAlertTypeSql"></include>
        order by a.id desc
        <!--limit #{startNum}, #{pageSize}-->
    </select>

    <sql id="searchAlertTypeSql">
        <where>
            <if test="keyword != null and keyword != ''">
                and (a.name like concat(#{keyword}, '%') or a.label like concat(#{keyword}, '%'))
            </if>
            <if test="isActive != null">
                and a.is_active = #{isActive}
            </if>
        </where>
    </sql>

    <select id="getAlertTypeByName" parameterType="java.lang.String"
            resultMap="alertTypeResultMap">
        select
        a.id,
        a.name,
        a.label,
        a.file_id AS fileId,
        a.is_active as isActive,
        a.lcd,
        a.lcu,
        a.fcd,
        a.fcu,
        <!--c.id as attrTypeId,
        c.name as attrTypeName,
        c.label as attrTypeLabel,
        c.type as attrTypeType,
        c.config as attrTypeConfigStr,-->
        d.id as adaptorId,
        d.name as adaptorName,
        d.label as adaptorLabel,
        d.file_id as adaptorFileId,
        d.alerttype_id as adaptorAlertTypeId,
        e.id as alertEventHandlerId,
        e.event as alertEventName,
        e.handler as alertEventHandler,
        e.name as alertEventHandlerName
        from alert_type a
        left join alert_adaptor d on a.id = d.alerttype_id
        left join alert_event_handler e on a.id = e.alert_type
        where a.name = #{value}
    </select>

    <select id="getAlertTypeById" parameterType="java.lang.Long" resultMap="alertTypeResultMap">
        select
        a.id,
        a.name,
        a.label,
        a.file_id AS fileId,
        a.is_active as isActive,
        a.lcd,
        a.lcu,
        a.fcd,
        a.fcu,
        <!--c.id as attrTypeId,
        c.name as attrTypeName,
        c.label as attrTypeLabel,
        c.type as attrTypeType,
        c.config as attrTypeConfigStr,-->
        d.id as adaptorId,
        d.name as adaptorName,
        d.label as adaptorLabel,
        d.file_id as adaptorFileId,
        d.alerttype_id as adaptorAlertTypeId,
        e.id as alertEventHandlerId,
        e.event as alertEventName,
        e.handler as alertEventHandler,
        e.name as alertEventHandlerName
        from alert_type a
        <!--left join alert_type_attrtype b on a.id = b.alerttype_id
        left join alert_attrtype c on b.attrtype_id = c.id and c.is_active = 1-->
        left join alert_adaptor d on a.id = d.alerttype_id
        left join alert_event_handler e on a.id = e.alert_type
        where a.id = #{value}
    </select>

    <select id="checkAlertTypeNameIsExists" parameterType="neatlogic.framework.alert.dto.AlertTypeVo" resultType="int">
        select count(1)
        from alert_type
        where id != #{id}
          and name = #{name}
    </select>

    <update id="updateAlertType" parameterType="neatlogic.framework.alert.dto.AlertTypeVo">
        update alert_type
        set name      = #{name},
            label     = #{label},
            is_active = #{isActive},
            lcd       = now(),
            lcu       = #{lcu}
        where id = #{id}
    </update>

    <insert id="insertAlertTypeAdaptor" parameterType="neatlogic.framework.alert.dto.AlertTypeAdaptorVo">
        insert into alert_adaptor
        (id,
         alerttype_id,
         name,
         label,
         file_id)
        values (#{id},
                #{alertTypeId},
                #{name},
                #{label},
                #{fileId})
    </insert>

    <insert id="insertAlertType" parameterType="neatlogic.framework.alert.dto.AlertTypeVo">
        insert into alert_type
        (id,
         name,
         label,
         is_active,
         fcd,
         fcu)
        values (#{id},
                #{name},
                #{label},
                #{isActive},
                now(),
                #{fcu})
    </insert>

    <insert id="insertAlertTypeAttrType">
        insert ignore into alert_type_attrtype (alerttype_id, attrtype_id, sort)
        values (#{alertTypeId}, #{attrTypeId}, #{sort})
    </insert>

    <delete id="deleteAlertTypeAdaptorByAlertTypeId" parameterType="java.lang.Long">
        delete
        from alert_adaptor
        where alerttype_id = #{value}
    </delete>

    <delete id="deleteAlertTypeAttrTypeByAlertTypeId" parameterType="java.lang.Long">
        delete
        from alert_type_attrtype
        where alerttype_id = #{value}
    </delete>

    <delete id="deleteAlertTypeById" parameterType="java.lang.Long">
        delete
        from alert_type
        where id = #{value}
    </delete>

</mapper>
