<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.alert.dao.mapper.AlertMapper">
    <sql id="searchAlertOriginSql">
        <where>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="source != null and source != ''">
                and source = #{source}
            </if>
            <if test="timeRange != null">
                <if test="timeRange.size() > 0">
                    and time &gt;= STR_TO_DATE(#{timeRange[0]}, '%Y-%m-%d %H:%i')
                </if>
                <if test="timeRange.size() > 1">
                    and time &lt;= STR_TO_DATE(#{timeRange[1]}, '%Y-%m-%d %H:%i')
                </if>
            </if>
        </where>
    </sql>

    <select id="searchAlertOrigin" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo"
            resultType="neatlogic.framework.alert.dto.OriginalAlertVo">
        select
        id,
        content,
        type,
        time,
        error,
        status,
        source
        from alert_origin
        <include refid="searchAlertOriginSql"></include>
        order by time desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchAlertOriginCount" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo"
            resultType="int">
        select count(1)
        from alert_origin
        <include refid="searchAlertOriginSql"></include>
    </select>

    <select id="listToAlertIdByFromAlertId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT to_alert_id
        FROM alert_rel
        WHERE from_alert_id = #{value}
    </select>

    <select id="listAllToAlertIdByFromAlertId" parameterType="java.lang.Long" resultType="java.lang.Long">
        WITH RECURSIVE AlertCTE AS (SELECT to_alert_id
                                    FROM alert_rel
                                    WHERE from_alert_id = #{value}
                                    UNION ALL
                                    SELECT ar.to_alert_id
                                    FROM alert_rel ar
                                             INNER JOIN
                                         AlertCTE a
                                         ON
                                             ar.from_alert_id = a.to_alert_id)
        SELECT DISTINCT to_alert_id
        FROM AlertCTE
    </select>

    <select id="getAlertByParentId" parameterType="java.lang.Long" resultType="neatlogic.framework.alert.dto.AlertVo">
        select a.id,
               a.status
        from alert a
                 join alert_rel b on a.id = b.to_alert_id
        where b.from_alert_id = #{value}
    </select>

    <resultMap id="alertResultMap" type="neatlogic.framework.alert.dto.AlertVo">
        <id column="id" property="id"/>
        <result column="fromAlertId" property="fromAlertId"/>
        <result column="childAlertCount" property="childAlertCount"/>
        <result column="level" property="level"/>
        <result column="title" property="title"/>
        <result column="updateTime" property="updateTime"/>
        <result column="alertTime" property="alertTime"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="source" property="source"/>
        <result column="uniqueKey" property="uniqueKey"/>
        <result column="alertCount" property="alertCount"/>
        <result column="entityType" property="entityType"/>
        <result column="entityName" property="entityName"/>
        <result column="ip" property="port"/>
        <result column="content" property="attrObjStr"/>
        <association property="alertType" javaType="neatlogic.framework.alert.dto.AlertTypeVo">
            <result column="alertTypeName" property="name"/>
            <result column="alertTypeLabel" property="label"/>
            <result column="alertTypeId" property="id"/>
        </association>
        <association property="alertLevel" javaType="neatlogic.framework.alert.dto.AlertLevelVo">
            <result column="alertLevel" property="level"/>
            <result column="alertLevelName" property="name"/>
            <result column="alertLevelColor" property="color"/>
            <result column="alertLevelLabel" property="label"/>
        </association>
        <collection property="userList" ofType="neatlogic.framework.alert.dto.AlertUserVo">
            <id column="alertUserId" property="userId"/>
            <id column="alertUserAlertId" property="alertId"/>
            <result column="alertUserName" property="userName"/>
        </collection>
        <collection property="teamList" ofType="neatlogic.framework.alert.dto.AlertTeamVo">
            <id column="alertTeamUuid" property="teamUuid"/>
            <id column="alertTeamAlertId" property="alertId"/>
            <result column="alertTeamName" property="teamName"/>
        </collection>
    </resultMap>


    <select id="getAlertOriginById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.OriginalAlertVo">
        select id,
               content,
               type,
               time,
               error,
               status,
               source
        from alert_origin
        where id = #{id}
    </select>

    <select id="searchAlert" parameterType="neatlogic.framework.alert.dto.AlertVo" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        JOIN
        (select id from alert order by update_time limit #{startNum}, #{pageSize}) tmp
        ON a.id = tmp.id
        order by a.update_time desc
    </select>

    <select id="checkAlertIsExists" parameterType="java.lang.Long" resultType="int">
        select count(1)
        from alert
        where id = #{value}
    </select>

    <sql id="searchAlertColumn">
        select a.id,
               (SELECT count(x.to_alert_id) FROM alert_rel x WHERE x.from_alert_id = a.id LIMIT 100) AS childAlertCount,
               (select x.from_alert_id from alert_rel x where x.to_alert_id = a.id limit 1)          as fromAlertId,
               a.level,
               a.title,
               a.update_time                                                                         as updateTime,
               a.alert_time                                                                          as alertTime,
               a.type,
               d.id                                                                                  as alertTypeId,
               d.name                                                                                as alertTypeName,
               d.label                                                                               as alertTypeLabel,
               a.status,
               a.source,
               a.unique_key                                                                          as uniqueKey,
               a.alert_count                                                                         as alertCount,
               a.entity_type                                                                         as entityType,
               a.entity_name                                                                         as entityName,
               a.ip,
               a.port,
               b.content,
               c.level                                                                               as alertLevel,
               c.name                                                                                as alertLevelName,
               c.label                                                                               as alertLevelLabel,
               c.color                                                                               as alertLevelColor,
               au.user_id                                                                            as alertUserId,
               au.alert_id                                                                           as alertUserAlertId,
               at.team_uuid                                                                          as alertTeamUuid,
               at.alert_id                                                                           as alertTeamAlertId,
               (select name from team x where x.uuid = at.team_uuid)                                 as alertTeamName
        from alert a
                 left join alert_attr b on a.id = b.alert_id
                 left join alert_level c on a.level = c.level
                 left join alert_type d on a.type = d.id
                 left join alert_user au on a.id = au.alert_id
                 left join alert_team at on a.id = at.alert_id
    </sql>


    <select id="getAlertByIdList" parameterType="neatlogic.framework.alert.dto.AlertVo"
            resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        where
        a.id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by a.update_time desc
    </select>

    <select id="getAlertById" parameterType="java.lang.Long" resultMap="alertResultMap">
        <include refid="searchAlertColumn"></include>
        where a.id = #{value}
        order by a.update_time desc
    </select>


    <select id="getAlertByUniqueKey" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertVo">
        select id
        from alert
        where unique_key = #{value}
        order by id
        limit 1
    </select>

    <update id="updateAlertStatus" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert
        set status = #{status}
        where id = #{id}
    </update>

    <update id="updateAlertUpdateTime" parameterType="neatlogic.framework.alert.dto.AlertVo">
        update alert
        set update_time = #{updateTime}
        where id = #{id}
    </update>

    <insert id="insertAlertUser" parameterType="neatlogic.framework.alert.dto.AlertUserVo">
        insert ignore into alert_user (alert_id, user_id)
        values (#{alertId}, #{userId})
    </insert>

    <insert id="insertAlertTeam" parameterType="neatlogic.framework.alert.dto.AlertTeamVo">
        insert ignore into alert_team (alert_id, team_uuid)
        values (#{alertId}, #{teamUuid})
    </insert>


    <insert id="saveAlertAttr" parameterType="neatlogic.framework.alert.dto.AlertVo">
        insert into alert_attr
            (alert_id, content)
        values (#{id}, #{attrObjStr,typeHandler=CompressHandler})
        ON DUPLICATE KEY UPDATE content = #{attrObjStr,typeHandler=CompressHandler}
    </insert>

    <insert id="saveAlertRel" parameterType="neatlogic.framework.alert.dto.AlertRelVo">
        insert ignore into alert_rel
            (from_alert_id, to_alert_id)
        values (#{fromAlertId}, #{toAlertId})
    </insert>

    <insert id="insertAlert" parameterType="neatlogic.framework.alert.dto.AlertVo">
        insert into alert
        (id,
         level,
         title,
         update_time,
         alert_time,
         type,
         status,
         source,
         is_delete,
         unique_key,
         entity_type,
         entity_name,
         ip,
         port)
        values (#{id},
                #{level},
                #{title},
                #{updateTime},
                #{alertTime},
                #{type},
                #{status},
                #{source},
                0,
                #{uniqueKey},
                #{entityType},
                #{entityName},
                #{ip},
                #{port})
    </insert>

    <insert id="insertAlertOrigin" parameterType="neatlogic.framework.alert.dto.OriginalAlertVo">
        insert into alert_origin
        (id,
         content,
         type,
         time,
         error,
         status)
        values (#{id},
                #{content, typeHandler=CompressHandler},
                #{type},
                #{time},
                #{error, typeHandler=CompressHandler},
                #{status})
    </insert>

    <delete id="deleteAlertUserByAlertId" parameterType="java.lang.Long">
        delete
        from alert_user
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertTeamByAlertId" parameterType="java.lang.Long">
        delete
        from alert_team
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertAttr" parameterType="java.lang.Long">
        delete
        from alert_attr
        where alert_id = #{value}
    </delete>

    <delete id="deleteAlertById" parameterType="java.lang.Long">
        delete a,b,c,d,e,f,g,h
        from alert a
                 left join alert_rel b on a.id = b.from_alert_id
                 left join alert_rel c on a.id = c.to_alert_id
                 left join alert_origin d on a.id = d.id
                 left join alert_event_handler_data e on a.id = e.alert_id
                 left join alert_attr f on a.id = f.alert_id
                 left join alert_audit g on a.id = g.alert_id
                 left join alert_comment h on a.id = h.alert_id
        where a.id = #{value}
    </delete>

</mapper>
